<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="!addNewCat">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Skill-Sets</h4>
            <button
              mat-raised-button
              class="btn btn-primary"
              (click)="addCat()"
            >
              Add New Skill-set
            </button>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables" *ngIf="dataTable">
              <table
                id="datatables"
                class="table table-striped table-no-bordered table-hover"
                cellspacing="0"
                width="100%"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>

                    <th class="disabled-sorting text-right">
                      {{ dataTable.headerRow[3] }}
                    </th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>

                    <th class="text-right">{{ dataTable.footerRow[3] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>

                    <td class="text-right">
                      <!-- <a href="javascript:void(0)" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a> -->
                      <a
                        href="javascript:void(0)" data-toggle="tooltip" title="edit" data-placement="bottom"
                        (click)="editCatClick(row[0])"
                        class="btn btn-link btn-warning btn-just-icon edit"
                        ><i class="material-icons">edit</i></a
                      >
                      <a
                        *ngIf="role === 'Administrator' || role === 'SubAdmin'"
                        href="javascript:void(0)" data-toggle="tooltip" title="delete" data-placement="bottom"
                        class="btn btn-link btn-danger btn-just-icon remove"
                        (click)="deleteCategory(row[0], row[1])"
                        ><i class="material-icons">close</i></a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <!-----FORM FIELDS-->
    <div class="row" *ngIf="addNewCat">
      <div class="col-md-10 offset-md-1">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">New Skill Set</h4>
          </div>
          <div class="card-body">
            <form method="#" action="#">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [(ngModel)]="_name"
                  placeholder="Skill-set Name"
                  name="mname"
                  type="text"
                  class="form-control"
                  id="cat_name"
                />
              </mat-form-field>
            </form>
          </div>
          <div class="card-footer">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-fill btn-rose btn-block"
              (click)="categorySubmitClicked()"
              [disabled]="button_pressed"
            >
              {{ button_pressed ? 'Please wait...' : 'Submit' }}
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-fill btn-block btn-danger"
              (click)="cancelAddCat()"
            >
              Cancel
            </button>
          </div>
          <br />
        </div>
      </div>
    </div>

    <!-----FORM FIELDS-->
  </div>
</div>
