<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="!addNewCus">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">My Customers</h4>
            <button
              mat-raised-button
              class="btn btn-primary"
              (click)="addCus()"
            >
              Add New Customer
            </button>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        *ngIf="dataTable"Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables" >
              <table
                id="datatables"
                class="table table-striped table-no-bordered table-hover"
                cellspacing="0"
                width="100%"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th class="disabled-sorting text-right">
                      {{ dataTable.headerRow[6] }}
                    </th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>
                    <th>{{ dataTable.footerRow[3] }}</th>
                    <th>{{ dataTable.footerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th class="text-right">{{ dataTable.footerRow[6] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td><a href="/jobs/customer/{{row[4]}}">{{ row[1] }}</a></td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td class="text-right">
                      <a
                        href="javascript:void(0)" data-toggle="tooltip" title="new ticket" data-placement="bottom"
                        (click)="ticketCusClick(row[4])"
                        class="btn btn-link btn-warning btn-just-icon create_new_folder"
                        ><i class="material-icons">create_new_folder</i></a
                      >
                      <a
                        href="javascript:void(0)" data-toggle="tooltip" title="edit" data-placement="bottom"
                        (click)="editCusClick(row[0])"
                        class="btn btn-link btn-warning btn-just-icon edit"
                        ><i class="material-icons">edit</i></a
                      >
                      <a
                        *ngIf="role === 'Administrator' || role === 'SubAdmin'"
                        href="javascript:void(0)" data-toggle="tooltip" title="delete" data-placement="bottom"
                        (click)="deleteCusClick(row[0], row[4])"
                        class="btn btn-link btn-danger btn-just-icon remove"
                        ><i class="material-icons">close</i></a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <!-----FORM FIELDS-->
    <div class="row" *ngIf="addNewCus">
      <div class="col-md-10 offset-md-1">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">New Customers</h4>
          </div>
          <div class="card-body">
            <form method="#" action="#">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [(ngModel)]="_name"
                  placeholder="Name"
                  name="mMame"
                  type="text"
                  class="form-control"
                  id="cus_name"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder=" Address"
                  type="address"
                  [(ngModel)]="_addr"
                  class="form-control"
                  autocomplete="off"
                  name="mAddr"
                  id="cus_addr"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Phone Number"
                  [(ngModel)]="_phone"
                  name="mPhone"
                  type="tel"
                  class="form-control"
                  id="cus_phone"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [(ngModel)]="_email"
                  name="memail"
                  placeholder="Email"
                  type="email"
                  class="form-control"
                  id="cus_email"
                />
              </mat-form-field>
            </form>
          </div>
          <div class="card-footer">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-fill btn-rose btn-block"
              (click)="customerSubmitClicked()"
              [disabled]="button_pressed"
            >
              {{ button_pressed ? 'Please wait...' : 'Submit' }}
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-fill btn-block btn-danger"
              (click)="cancelAddCus()"
            >
              Cancel
            </button>
          </div>
          <br />
          <div style="display: none">
            <p id="madd"></p>
            <p id="mgeo"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <h2>Total rows: {{ totalRows }}</h2>
    </div> -->

    <!-----FORM FIELDS-->
  </div>
</div>

<!-- <div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8  offset-md-2">
        <div class="card ">

          <div class="card-body ">
            <form>
              <div class="form-group">
                <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
                  placeholder="Enter Your Name">
              </div>
              <div class="form-group">
                <input type="phoneNumber" class="form-control" id="exampleInputPhoneNumber" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <input type="name" class="form-control" id="exampleInputname" placeholder="Address">
              </div>
              <div class="card-footer ">

                <button mat-raised-button type="submit" class="btn btn-lg btn-block btn-fill btn-rose">Submit</button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div> -->
